<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST UI</title>
</head>

<body>
    <div class="container">
        <input type="text" placeholder="username" class="username">
        <input type="text" name="" id="" class="communityName" placeholder="community">

        <ul class="messages">

        </ul>

        <input type="text" class="text" style="display: none;" placeholder="message...">
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"></script>
    <script>
        const userNameInput = document.querySelector(".username");
        const communityNameInput = document.querySelector(".communityName");
        const messages = document.querySelector(".messages");
        const textInput = document.querySelector(".text");

        let socket = io({ autoConnect: false });

        let communityName, username;

        const addMessage = (content) => {
            const li = document.createElement("li");
            li.innerText = content;
            messages.appendChild(li);
        };

        communityNameInput.addEventListener("keydown", (e) => {
            if (e.key === "Enter") {
                username = userNameInput.value;
                communityName = communityNameInput.value;

                socket.connect();


                socket.on("connect", function () {
                    socket.emit("user_join", {community: communityName, username: username});
                });

                userNameInput.style.display = "none";
                communityNameInput.style.display = "none";
                textInput.style.display = "block";
            }
        });

        textInput.addEventListener("keydown", (e) => {
            if (e.key === "Enter") {
                const message = textInput.value;
                socket.emit("message", {
                    community: communityName,
                    message: message,
                    user: username
                });
                textInput.value = "";
            }
        });

        socket.on("chat", (data)=>{
            addMessage(`${data.user}: ${data.message}`);
        });

        socket.on("user_connected", (data)=>{
            addMessage(`${data.user} Joined the party!`);
        });


    </script>
</body>

</html>